@{
    ViewData["Title"] = "Home Page";
}


<div class="panel panel-default topSpacePanel" ng-app="demoChatModule">
    <div class="panel-body" ng-controller="demoChatController">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label>User Name:</label>
                    <input type="text" id="txtUserInput" ng-model="UserInput" class="form-control" />
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label>Message:</label>
                    <input type="text" id="txtMessageInput" ng-model="MessageInput" class="form-control" />
                </div>
            </div>
            <div class="col-md-2" style="margin-top:22px;">
                <div class="form-group">
                    <input type="button" id="sendButton" ng-disabled="btnSendMessage" ng-click="onSendBtnClick()" value="Send Message" class="btn btn-primary" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        var app = angular.module('demoChatModule', []);
        app.controller('demoChatController', function ($scope) {

            var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
            $scope.btnSendMessage = true;

            connection.on("ReceiveMessage", function (user, message) {
                debugger;
                var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
                var encodedMsg = user + " says " + msg;
                var li = $("<li></li>").text(encodedMsg);
                $("#messagesList").append(li);
                $("#txtUserInput").val('');
                $("#txtMessageInput").val('');
            });

            connection.start().then(function () {
                $scope.btnSendMessage = false;
            }).catch(function (err) {
                return console.error(err.toString());
            });

            $scope.onSendBtnClick = function () {

                var getUserName = $scope.UserInput;
                var getMessage = $scope.MessageInput;

                connection.invoke("SendMessagge", getUserName, getMessage).catch(function (err) {
                    return console.error(err.toString());
                });

            }

        });
    </script>

}

